<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Workouts</title>
  </head>
  <body>
    <nav>
      <a href="/">Home Page</a>
      <a href="/workouts">Workouts</a>
      <a href="/workouts/new">Add an Exercise</a>
    </nav>
  </body>
</html>
