<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-link">Home Page</a>
      <% if (user) { %>
      <a href="/workouts" class="nav-link">Workouts</a>
      <a href="/workouts/new" class="nav-link">Schedule a Workout</a>
      <a href="/exercises" class="nav-link">Exercises</a>
      <a href="/exercises/new" class="nav-link">New Exercise</a>
      <a href="/logout" class="nav-link">Log Out</a>
      <% } else { %>
      <a href="/exercises" class="nav-link">Exercises</a>
      <a href="/auth/google" class="login">Log In</a>
      <% } %>
    </nav>
  </body>
</html>
