<%- include('../partials/header') %>


  <form id="record-workout" action="/workouts" method="POST">
    <div class="form-group">
      <label for="exercise-name">Exercise:</label>
      <input type="text" id="exercise-name" name="name" class="input-field" >
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="number" id="weight" name="weight" class="input-field" placeholder="lbs">
    </div>
    <div class="form-group">
      <label for="sets">Sets:</label>
      <select id="sets" name="sets" class="input-field">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      </div>
    <div class="form-group">
      <label for="reps">Reps:</label>
      <select id="reps" name="reps" class="input-field">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" class="input-field">
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" name="dateOfWorkout" class="input-field">
    </div>
    <input type="submit" value="Record Workout">       
  </form>
  <p>
    <%= errorMsg %>
  </p>

<%- include('../partials/footer') %>

<!-- <div class="form-group">
  <label for="exercise-type">Type:</label>
  <select id="exercise-type" name="type" class="input-field">
    <option value="Push">Push</option>
    <option value="Pull">Pull</option>
    <option value="Squat">Squat</option>
    <option value="Hinge">Hinge</option>
    <option value="Cardio">Cardio</option>
  </select>
</div> -->