<%- include('./partials/header') %>

<div class="welcome"><h1>Track Your Fitness</h1></div>

<div class="home-img">
  <img id="runner" src="./images/running-scenic.jpeg" alt="Man Running" />
</div>

<div class="registerMssg"><h3>Register to Record and Track Workouts</h3></div>

<%- include('./partials/footer') %>
