body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: antiquewhite;
}

a {
  color: #00b7ff;
}

.form-group {
  margin-bottom: 10px;
  padding-top: 10px;
}

.form-group label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}

.input-field {
  width: 150px;
}

input[type="submit"], button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #161313;
  color: #f5f5f5;
}

tr:hover {
  background-color: #f5f5f5;
}

nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #fff;
  margin-right: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
}

.nav-link:hover {
  color: #ffc107;
}

.login {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
}

.login:hover {
  background-color: #fff;
  color: #333;
}

.home-img {
  width: 75%;
  max-width: 600px;
  margin: 0 auto;
}

.home-img img {
  width: 100%;
  height: auto;
}

.welcome {
  display: flex;
  justify-content: center;
}

.registerMssg {
  display: flex;
  justify-content: center;
}

.formFilter {
  display: flex;
  justify-content: flex-end;
}

.currSchedule {
  text-align: center;
}

.reminder {
  text-align: center;
}
#workoutFilter {
  margin: 10px;
}